---
---

@import "{{ site.theme }}";
body {
  font-family: sans-serif;
  margin: 0;
  color: rgba(226, 232, 238, 0.863);
  background-color: rgb(54, 52, 52);
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: rgb(101, 101, 253);
}

/* Header styles */
.main-header {
  background-color: rgb(27, 27, 27);
  padding: 1em;
}

.link-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
}

.link-list-item {
  padding: 0 10px;
  display: inline-flex;
  align-items: center;
}

.profile-img {
  border-radius: 10px;
  width: 250px;
  height: auto;
  margin-left: 20px;
}

/* Introduction section */
.intro-section {
  padding: 20px;
}

.intro-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.intro-text {
  font-size: larger;
  line-height: 1.6;
  max-width: 400px;
  text-align: left;
}

/* Links */
a {
  text-decoration: none;
  font-weight: bold;
  color: azure;
}

a:hover {
  color: rgb(74, 228, 95);
}

.main-footer {
  position: fixed;
  bottom: 0;
  background-color: rgb(27, 27, 27);
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* Posts */
.posts-section {
  padding: 20px;
}

.posts {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  max-width: 600px;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.post-title, .post-date {
  font-size: 1.2em;
}

.post-title {
  text-align: left;
  flex: 1;
}

.post-title > a {
  color: rgb(101, 101, 253);
}


.post-date {
  text-align: right;
  flex: 0 0 100px;
  color: lightgray;
}

