---
---

@import "{{ site.theme }}";
body {
  font-family: sans-serif;
  color: rgba(226, 232, 238, 0.863);
  background-color: rgb(54, 52, 52);
}
h1 {
  color: rgb(101, 101, 253);
}

a {
  text-decoration: none;
  font-weight: bold;
  color: azure !important;
}

a:hover {
  color: rgb(74, 228, 95) !important;
}

.site-header {
  background-color: rgb(27, 27, 27);
}

footer {
  color: azure !important;
  background-color: rgb(27, 27, 27);
}
/*patch to hide redundant text in template*/
.page-link,
.footer-heading {
  visibility: hidden;
}

code {
  color: black;
}
